<div class="container">
  <div class="test">
    <app-navbar/>

    <mat-grid-list cols="2" rowHeight="1:1" class="grid">
      <mat-grid-tile class="tile-text">
          <div>
            <div class="edition">EDITION 2026</div>
            <div class="mancelles">Le rallye des Mancelles</div>
            <div class="gaz">Rallye Aïcha des Gazelles</div>
            <div class="example-button-container">
              <button mat-fab extended class="bouton-dec">
                Découvrir notre projet
              </button>
            </div>
          </div>
      </mat-grid-tile>
      <mat-grid-tile>


        <div id="wrapper">

          <div class="dust"><img src="http://www.mattdrew.co.uk/experiments/images/ex-2point5d/dust.png" /></div>

          <div class="foreground"><img src="https://i63.servimg.com/u/f63/12/09/47/97/first10.png" /></div>

          <div class="midground"><img src="https://i63.servimg.com/u/f63/12/09/47/97/second10.png" /></div>

          <div class="background"><img src="https://i63.servimg.com/u/f63/12/09/47/97/fourth10.png" /></div>
        </div><!--wrapper-->


      </mat-grid-tile>
    </mat-grid-list>

  </div>
  <div class="test-autre">
  </div>

</div>
